/**
* Colors
*/
$red: #f94144;
$dark-orange: #f3722c;
$orange: #f8961e;
$light-orange: #f9844a;
$yellow: #f9c74f;
$green: #90be6d;
$aqua: #43aa8b;
$dark-aqua: #4d908e;
$dark-blue: #577590;
$blue: #277da1;
$light-grey: #bdbdbd;

/**
* Spacing
*/
$default-padding: 1em;
$border-radius: 0.5rem;
