@use "styles/abstracts/variables" as *;

.hamburgerContainer {
  position: relative;
}

.hamburgerIconBtn {
  border: none;
  background: none;
  outline: none;
}

.hamburgerIcon {
  height: 2rem;
  transform: rotate(45deg);
  transition: all 0.3s ease;

  &.active,
  &:hover {
    fill: $orange;
    transform: rotate(180deg + 45deg);
  }
}

.hamburgerMenu {
  display: none;
  position: absolute;
  z-index: 20;
  padding: $default-padding;
  top: calc(100% + $default-padding);
  right: 0;
  border: 1px solid $light-grey;
  border-radius: $border-radius;
  background-color: white;

  &.active {
    display: block;
  }
}

.navItems {
  list-style: none;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  &.active {
    display: block;
  }
}