@use "styles/abstracts/variables" as *;

.name {
  display: flex;
  gap: 2rem;
}

.back {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1em;
  background-color: #eee;
  border-radius: $border-radius;

  @media screen and (max-width: 578px) {
    align-items: flex-start;
    margin-top: 1rem;
  }
}

.ingredient {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  gap: 1ch;

  button {
    background: none;
    border: none;

    svg {
      height: 1rem;
    }
  }
}
