.name {
  display: flex;
  gap: 2rem;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  gap: 1ch;

  button {
    background: none;
    border: none;

    svg {
      height: 1rem;
    }
  }
}
